@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --header: 0, 0, 0, 0.6;
    --header-full: 36, 36, 36;
    --header-sticky: 0, 0, 0;
    --header-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;

    --primary: 35 13% 61%;
    --primary-foreground: 210 40% 98%;

    --secondary: 35 72% 93%;
    --secondary-foreground: 0 0% 0%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 0 0% 0%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 25%;

    --header: 255, 255, 255, 1;
    --header-foreground: 0 0% 0%;

    --card: 0 0% 0%;
    --card-foreground: 210 40% 98%;

    --popover: 0 0% 0%;
    --popover-foreground: 210 40% 98%;

    --primary: 35, 13%, 61%;
    --primary-foreground: 0 0% 0%;

    --secondary: 0 0% 0%;
    --secondary-foreground: 210 40% 98%;

    --muted: 0 0% 0%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 0 0% 0%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h2 {
    @apply font-bebes;
  }

  h1,
  h3,
  h4,
  h5 {
    @apply mb-7 font-bebes tracking-wider uppercase my-2 font-bold text-foreground relative before:bg-gray-100 before:h-[1px] before:w-full before:absolute before:top-full before:m-[10px_0_-2px] before:left-0 after:bg-foreground after:block after:h-[2px] after:m-[10px_0_-2px] after:absolute after:left-0 after:top-full after:w-[40px];
  }

  h4 {
    @apply text-xl leading-5 font-bebes tracking-wider;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.grecaptcha-badge {
  z-index: 10;
}
